=link_to "My Account", my_account_path, class: "link-customer wrapper-sort mb-5 #{active?(my_account_path)}"
=link_to "Order History", order_history_path, class: "link-customer wrapper-sort #{active?(order_history_path)}"
