- title "Add Shipping Details"
.col-lg-10.col-md-10.col-sm-10.col-xs-10.wrapper
  section#shipping-details.content-page.current data-title="ShippingDetails"
    =render 'form', :title=>"Add Shipping Details"