-if notice.present?
  .alert.alert-main.alert-success.alert-newversion
    =notice.html_safe
-elsif error.present?
  .alert.alert-main.alert-danger.alert-newversion
    =error.html_safe

javascript:
  setTimeout((function() {
    $(".notice-container").fadeOut(1000, function() {
      $(".notice-container").empty();
      $(".notice-container").css('display', 'block');
    }); 
  }), 5000);