=text_field_tag 'rating', @product.rating, class: 'hidden rating', data: { 'empty-star': '<i class="fa fa-star-o"></i>', 'filled-star': '<i class="fa fa-star"></i>', 'display-only': true, 'size': 'sm' }
span.text-italic =@product.rating_details
