- title "Add Privacy Policy"
.col-lg-10.col-md-10.col-sm-10.col-xs-10.wrapper
  section#privacy-policy.content-page.current data-title="Privacy Policy"
    =render 'form', :title=>"Add Privacy Policy"